/* Applies to everything */
* {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

/* Navigation Bar */
.navbar {
    /* Physical Properties */
    background-color: black;
    width: 100%;
    height: 80px;
    font-size: 24px;
    font-weight: 400; 

    /* Align Contents */
    display: flex;
    align-items: center;

    position: fixed;
    z-index: 2; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none; 
}

.current {
    background-color: lightgreen;
    color: black; 
}

li a:hover {
    background-color: lightgray;
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

.sections {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 70% 30%;
}

.annotation {
    display: block;
    background-color: lightblue;
    padding: 10px 10px;
    text-align: left;
    color: black;
}