/* Applies to everything */
* {
    margin: 0;
    padding: 40;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

body {
    background-color: lightblue; 
}