/* Applies to everything */
* {
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

.svg {
    padding-top: 80px;
    padding-bottom: 80px;
}